<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- <a href="{#  {{ url_for('') }} #}">link do tego i tego</a> -->
<form action="{{ url_for('route_list') }}">
     <input type="submit" value="Back to list">
 </form>


<form action="http://127.0.0.1:8000/delete_story", method="POST">
     <table>
        <tr>
            <td>ID to delete: </td>
            <td><input type="number" name="id"></td>
        </tr>

         <tr style="text-align: right; ">
             <td></td>
             <td ><input type="submit" value="Wyslij"></td>
         </tr>


     </table>

    </form>


    <h3>All Storis</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Story Title</th>
            <th>User Story</th>
            <th>Acceptance Criteria</th>
            <th>Business value</th>
            <th>Estimation</th>
            <th>Status</th>
        </tr>
        {% for value in user_stories %}
            <tr>
                <td>{{ value["id"] }}<form action="{{ url_for('single_story', story_id=value['id']) }}/" method="DELETE"><input type="submit"></form>  </td>
                <td>{{ value["title"] }}</td>
                <td>{{ value["user_story"] }}</td>
                <td>{{ value["acceptance_criteria"] }}</td>
                <td>{{ value["business_value"] }}</td>
                <td>{{ value["estimation"] }}</td>
                <td>{{ value["status"] }}</td>

            </tr>
        {% endfor %}
    </table>
</body>
</html>